@media only screen and (max-width: 767px) and (min-width: 320px){
    .aboutme {
        text-align: center;
    }
    .timeline-event p,
    .why {
        text-align: justify;
    }
    nav .columns {
        width: 100% !important;
    }
    .simple-bar .text-right {
        text-align: center !important;
    }
    .simple-bar .menu li {
        margin-right: unset !important;
    }
    .simple-bar .menu li a {
        padding-bottom: 0px;
        font-weight: normal !important;
        line-height: 20px !important;
    }
    .simple-bar .text-right {
        text-align: center !important;
    }

}